<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}人員
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list lines="none">
      <ion-item>
        <ion-col>
          <ion-input [(ngModel)]="name" placeholder="姓名"></ion-input>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="2"> 
          <ion-label>原本部門: </ion-label>
        </ion-col>
        
        <ion-col>
          <ion-label>{{department}}</ion-label>
        </ion-col>
        
      </ion-item>
        <ion-item>
          <ion-col size="2"> 
            <ion-label>更新部門: </ion-label>
          </ion-col>
          
          <ion-col>
            <select [(ngModel)]="choose_depart" placeholder="選擇部門" >
              <option value="" disabled >請選擇部門</option>
              <option  *ngFor="let item of departmentList" value="{{item.id}}">{{item.name}}</option>
            </select>
          </ion-col>
        </ion-item>
      
     
      <!-- <ion-item>
        <ion-input [(ngModel)]="job" placeholder="職位"></ion-input>
      </ion-item> -->
     
    </ion-list>
    <ion-button (click)="insertData();">送出</ion-button>
    <ion-button (click)="cancel()">取消</ion-button>
  </div>
</ion-content>
